@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Lato', Sans-Serif;
  background-image:url("assets/blur.jpg");
  background-size: cover;
}

.clearfix:before, .clearfix:after{
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}
a{
    color: blue;
    text-decoration: none;
}
#test{
    color: blue;
}
#name {
    color: blue;
}
.link {
    color: blue;
}
#totheleft {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    
   
    width: 120px;
}
#noseethrough {
    color: red;
}
#center {
    display: block;
    position: relative;
    align-self: center;
}
.other-other-form {
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 15px;
    text-align: top;
}
#art {
    display: block;
    text-align: left;
}
.gettothemiddle {
    position: relative;
    
    left: -50px;
}
#getinline {
    display: inline-block;
    position: relative;
    bottom: 10px;
    right: 10px;
}
a:hover{
  text-decoration:underline;
}
.form{
    display: block;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    
}

.other-form{
    border: solid 8px black;
    position: relative;
    display: block;
    top: 10px;
    background-color: lightgrey;
    text-align: center;
    opacity: .8;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
}

.login-form{
  width: 300px;
  margin-top: -270px;
  margin-left: 1000px;
}

.opacity{
  opacity: 0.5;
}

.logo{
  margin-top: 300px;
  margin-left: 600px;
}
.text{
  width: 200px;
  border-radius: 8px;
  border: 1px solid #CCC;
  padding: 10px;
  color: #333;
  font-size: 12px;
  margin-top: 10px;
}
.textbox{
  height:200px;
  width:200px;
  border: 1px solid #CCC;
  padding: 10px;
  color: #333;
  font-size: 12px;
  margin-top: 10px;
  resize: none;
}
.submitbttn{
  padding: 10px 25px 8px;
  color: #fff;
  background-color: #0067ab;
  text-shadow: rgba(0,0,0,0.24) 0 1px 0;
  font-size: 16px;
  box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
  border: 1px solid #0164a5;
  border-radius: 2px;
  margin-top: 10px;
  cursor:pointer;
}
.submit:hover {
  background-color: #024978;
}
.textbttn {
  padding: 5px;
  margin-bottom: 30px;
  width: 222px;
  margin: 10px auto;
}

.header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  margin-top: 12vh;
}

.footer {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 15vh;
}

.button-container-1 {
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
  border: 1px solid;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}
.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

.button-container-2 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}
.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}


.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 11px;
  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
a {
  color: #7053aa;
}

.button-container-3 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}
.button-container-3 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(70) forwards;
  animation: ani2 0.7s steps(70) forwards;
}
.button-container-3 button:hover {
  -webkit-animation: ani 0.7s steps(70) forwards;
  animation: ani 0.7s steps(70) forwards;
}

/*# sourceMappingURL=wiki.map */